@import 'tailwindcss';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  a { cursor: pointer; }
}

@utility btn {
  @apply px-6 max-sm:px-4 py-4 max-sm:py-3 rounded-xl transition-all items-center font-semibold cursor-pointer text-[0.95em];
}

@utility btn-primary {
  @apply bg-[#212738] text-white items-center hover:bg-[#FF8C00];
}

@utility btn-outline {
  @apply border border-[#212738] text-[#212738] hover:text-white  hover:bg-[#FF8C00] hover:border-[#FF8C00];
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: "Poppins"
  }
  
  body {
    @apply text-gray-900;
    font-family: "Poppins"
  }

  @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

.font-mono {
  font-family: 'Poppins', monospace;
}

.font-public-sans {
  font-family: "Public Sans";
}



.Typewriter__cursor {
  color: #FF8C00 !important;
}

button {
  cursor: pointer;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation: 10s scroll linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee-slow {
  animation: marquee 45s linear infinite;
}

.paused {
  animation-play-state: paused !important;
}

@media (width < 40rem) { 

  .animate-marquee {
  animation: marquee 10s linear infinite;
}
}

